@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.type-animation{ 
	margin-left:auto;
	margin-right:auto;
	font: bold 2em monospace;
  	color: black;
	border-right: .1em solid white;
	width: calc(0.55em * 14); 
	width: 89ch;
	white-space: nowrap;
	overflow: hidden;
	text-align:center;
	-webkit-animation: typing 5s steps(89, end),
	           blink-caret .2s step-end alternate;

}

.modal-open{
	color:black;
}

.modal-title{
	margin-left:auto;
	margin-right:auto;
}

.about-me{
	text-align:center;
}

.sub-title{
	font-size:35px;
	text-align:center;
}

p span{
	color:red;
	font-weight:bolder;
}

#video-area{
	padding-bottom: 400px;
}

.contents{
	text-shadow: 4px 4px 3px rgba(0,0,0,0.4),
				 8px 8px 13px rgba(0,0,0,0.1),
				 18px 18px 23px rgba(0,0,0,0.1);
}

.fa-angle-double-down{
	color:#fff;
}

.fa-angle-double-down:hover{
	color:#098dff;
	
}

.fa-angle-double-up{
	color:#fff;
}

.fa-angle-double-up:hover{
	color:#098dff;
}

.fa-angle-down{
	color:#fff;
}

.fa-angle-down:hover{
	color:#098dff;
}
.center-arrow{
	margin-left:auto;
	margin-right: auto;
}
.center-arrow:hover{
	margin-left:auto;
	margin-right: auto;
	transform: scale(1.7);
}

.rectangle{
	width:200px;
	height:100px;
	background:gray;
}