@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.type-animation{ 
	margin-left:auto;
	margin-right:auto;
	font: bold 2em monospace;
  	color: black;
	border-right: .1em solid white;
	width: calc(0.55em * 14); 
	width: 99ch;
	white-space: nowrap;
	overflow: hidden;
	text-align:center;
	-webkit-animation: typing 5s steps(99, end),
	           blink-caret .2s step-end alternate;

}

.modal-open{
	color:black;
}

.modal-title{
	margin-left:auto;
	margin-right:auto;
}

.about-me{
	text-align:center;
}

.sub-title{
	font-size:35px;
	text-align:center;
}