/* ----------- BASIC SETUP ------------ */
/*blue color: #2c3e50; */
/*orange color: #f39c12;
darker orange: #976008*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	background-color:#fff;
	color: #2c3e50;
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 20px;
	font-weight:500;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	overflow-y:hidden;
}

section, footer{
	height: 100vh;
	padding:80px 0px;
	width: 100%;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: relative;
	background-color: none;
	z-index: 2;
}

.clearfix{
	zoom:1;
}

.clearfix:after{
	content: '.';
	clear:both;
	display:block;
	height: 0;
	visibility: hidden;
}

/* ----------- REUSABLE COMPONENTS ------------ */

.row{
	max-width: 1140px;
	margin: 0 auto;
}

/*HEADINGSS*/

h1, h2, h3{
	font-weight: 300;
	text-transform: uppercase;
}

h1{
	font-size: 400%;
	font-weight: 300;
	margin-bottom: 10px;
	word-spacing: 4px;
	letter-spacing: 1px;
	padding-bottom: 0px;
	text-shadow: 0 5px 5px #ecf0f1;
	margin-top:0px;
}

h2{
	font-size: 300%;
	width:40%;
	text-align: center;
	border-bottom: 3px solid #f39c12;
	margin-left: 30%;
	letter-spacing: 5px;
	padding:5px 0;
}

/*BUTTONS*/

.btn{
	border: 2px solid #2c3e50;
	text-decoration: none;
	border-radius: 39px;
	padding:15px;
	font-size: 125%;
	display: inline-block;
}

.btn-full:link,
.btn-full:visited{
	background-color:none;
	color: #2c3e50;
	transition: background-color 0.5s;
}

.btn-full:hover,
.btn-full:active{
	background-color: #f39c12;
}

/*ALERT BOX*/
/* The alert message box */
.alert-box{
	z-index:10;
	position:absolute;
	bottom:25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.alert-red {
    padding: 20px;
    background-color: #f2dede;
    color: #a94442;
    height:auto;
    margin-bottom: 15px;
    border: 2px solid #ebccd1;
    border-radius: 20px;
    text-align: center;
    font-size: 90%;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color:inherit;
    font-weight: bold;
    float: right;
    font-size: 35px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: #000;
}

/* ----------- HEADER ------------ */

header{
	height: 100vh;
	background-attachment: fixed;
}

.main-screen{
	z-index: 10;
	text-align: center;
	width: 100%;
	position: absolute;
	top:25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-screen p{
	text-shadow: 0 1px 0px #ecf0f1;
}

.main-screen .btn{
	margin-top: 55px;
}

.main-screen .btn i{
	vertical-align: middle;
}

/* ----------- NAVIGATION------------ */

.main-nav,
.nav-sections{
	z-index:10;
	position:fixed;
	padding: 20px 5px;
}

.main-nav{
	background-color:rgba(250,250,250,0.5);
	border: 1px solid #2c3e50;
	border-radius:20px;
	top:35%;
	right:2%;
	list-style: none;
}

.main-nav li,
.nav-sections li{
	text-decoration: none;
	display:block;
	padding: 3px 0;
}

.btn-nav:link,
.btn-nav:visited{
	padding:5px;
	background-color: #976008;
	border-width: 1px;
}

/*.btn-nav:hover,
.btn-nav:active{
	padding:5px;
	background-color: #f39c12;
	border-color: #fff;
}*/

.nav-sections{
	top:35%;
	right:4%;
	z-index:11;
}

.nav-sections li{
	text-align:center;
	color:transparent;
	background-color:transparent;
	border-radius:5px;
}

/* ----------- FOOTER ------------ */
footer{
	height: 100vh;
}